html
  box-sizing: border-box

*,
*:before,
*:after 
  box-sizing: inherit


.page
  font-family: $main-font
  color: $font-color-dark
  font-size: 18px
  background-color: #fff;
  &__wrap
    min-width: 320px
    max-width: 1920px
    margin: 0 auto

.icon
  display: inline-block