mixin line-reveal() 
  +b.DIV.line-reveal
    +e.DIV.elem(class="--line-a")
      +b.DIV.overlay
      +b.DIV.line
    +e.DIV.elem(class="--line-b")
      +b.DIV.overlay
      +b.DIV.line
    +e.DIV.elem(class="--line-c")
      +b.DIV.overlay
      +b.DIV.line