include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include icon/icon
include line-reveal/line-reveal
include user/user
include header/header
include promo/promo
include pagination/pagination

doctype html
html(lang="ua")

  block head
    +head({
      "title": "Barracuda",
      "author": "Viktor Kot",
      "description": "Test"
    })

    +b.BODY.page
      +e.DIV.wrap
        +line-reveal()
        +user()
        block header
          +header({
            "menu": [
              {
                "text": "Продукція",
                "href": "index.html"
              },
              {
                "text": "Готові рішення",
                "href": "index.html"
              },
              {
                "text": "Підтримка",
                "href": "index.html"
              },
              {
                "text": "Система",
                "href": "index.html"
              },
              {
                "text": "Контакти",
                "href": "index.html"
              }
            ]
          })
        block content
          +promo()
        block scripts
        // build:js js/main.js
        script( src="js/main.js")
        // endbuild