include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include icon/icon
include line-reveal/line-reveal
include user/user
include header/header
include promo/promo
include product/product

doctype html
html(lang="ua")

  block head
    +head({
      "title": "Barracuda",
      "author": "Viktor Kot",
      "description": "Test"
    })

    +b.BODY.page
      +e.DIV.wrap
        +line-reveal()
        +user()
        block header
          +header({
            "menu": [
              {
                "text": "Продукція",
                "href": "index.html"
              },
              {
                "text": "Готові рішення",
                "href": "index.html"
              },
              {
                "text": "Підтримка",
                "href": "index.html"
              },
              {
                "text": "Система",
                "href": "index.html"
              },
              {
                "text": "Контакти",
                "href": "index.html"
              }
            ]
          })
        block content
          +promo({
            "title": "ajax StreetSiren",

            "text": "Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру",

            "btn": "детальніше",
            "numbersIndicator": 5
          })
          +product({
            "title": "товари",
            "nametrash":  "В кошик",
            "details": "Детальніше",
            "subtitle": "показати усі",
          }, 
          [{
            "srcImg": "img/product/device_1.png",
            "cardTitle": "Suprema Biostation L2",
            "cardDescription": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі."
          },
          {
            "srcImg": "img/product/device_2.png",
            "cardTitle": "Suprema BioEntry Plus",
            "cardDescription": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі."
          },
          {
            "srcImg": "img/product/device_3.png",
            "cardTitle": "Suprema Facestation 2",
            "cardDescription": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі."
          },
          {
            "srcImg": "img/product/device_4.png",
            "cardTitle": "Suprema Xpass S2",
            "cardDescription": "BioStation A2 нашпигований найкращим у світі процесором на 4 ядра, що забеспечує найкращий у світі."
          }])
        block scripts
        // build:js js/main.js
        script( src="js/main.js")
        // endbuild