mixin header(data)
  +b.HEADER.header
    +e.DIV.container
      +e.DIV.logo
        +b.A.logo(href='#')
          +e.IMG.img(src='img/logo/barracuda_logo.png')
      +e.DIV.nav
        +b.NAV.header-nav
          each item in data.menu
            +e.DIV.item
              +e.A.link(href=item.href)= item.text
      +e.A.cart(href="#")
        +icon("shopping-cart", "icon--header-cart")
        |0 шт
