mixin promo()
  +b.SECTION.promo
    +e.DIV.container
      +e.DIV.messages
        +e.H2.title 
          |Ajax streetsiren
        +e.P.descr Працює на відстані до 2000 метрів від Ajax Hub на відкритому просторі або на декількох поверхах бізнес-центру 
        +e.DIV.btn
          +b.A.btn(class="--wide --gradient --color") Детальніше
            +e.I.arrow-left
      +e.DIV.img-wrap
        +b.IMG(src="/img/hub.png" alt="Ajax hub")
    //- +b.DIV.indicators
    //-   +e.DIV.indicator
    //-   +e.DIV.indicator
    //-   +e.DIV.indicator
    //-   +e.DIV.indicator(class="--big")

