mixin promo(data)
  +b.SECTION.promo
    +e.DIV.container
      +e.DIV.messages
        +e.H2.title= data.title
        +e.P.descr= data.text
        +e.DIV.btn
          +b.A.btn(class="--wide --gradient --color")= data.btn
            +e.I.arrow-left
      +e.DIV.img-wrap
        +b.IMG(src="/img/hub.png" alt="Ajax hub")
      - var n= 0
      +b.NAV.pagination(class="--wide")
        while n++ < data.numbersIndicator
          +e.BUTTON.item 
          if n === 2
            +e.BUTTON.item(class="--current")


