mixin promo()
  +b.SECTION.promo
    +e.DIV.container
      +e.H2.title 
        |Ajax streetsiren
      +e.P.descr Працює на відстані до 2000м 
      +e.DIV.btn
        +b.BUTTON.btn(class="--promo") Детальніше
      +e.DIV.img
        +b.IMG.img(src="/img/promo.jpg" alt="Ajax hub")
      +b.DIV.indicators
        +e.DIV.indicator
        +e.DIV.indicator
        +e.DIV.indicator
        +e.DIV.indicator(class="--big")

