mixin user(data)
  +b.DIV.user-panel
    +e.DIV.container
      +b.user-panel-item
        +icon("magnifying-glass")
        +e.A.link(href="#" class="--dotted")
          |+38 063 154 35 56
      +b.user-panel-item
        +icon("avatar")
        +e.A.link(href="#")
          |Мій кабінет
      +b.user-panel-item
        +icon("worldwide")
        +e.A.link(href="#" class="--big")
          |ua

