$main-font: 'DIN Pro', Helvetica, sans-serif
$second-font: 'DIN Pro', Helvetica, sans-serif;
$font-color-dark: #4a4a4a
$font-color-light-red: #f6303e
$header-menu-color: #3a2020
$user-panel-color: #717274