mixin product(dataHead, dataBody) 
  +b.SECTION.product
    +e.DIV.container
      +e.DIV.text-wrap
        +e.H3.title= dataHead.title
        +e.SPAN.subtitle= dataHead.subtitle
      +e.DIV.card-wrap
        each item in dataBody
          +b.DIV.card
            +e.DIV.img-wrap
              +b.IMG(src= item.srcImg)
              +e.DIV.shadow
            +e.DIV.action
              +b.A.btn(href="#" class="--size-card --style-card")= dataHead.nametrash
                +icon("shopping-cart", "icon--action-card")
              +b.A.btn(href="#" class="--size-card --style-card")= dataHead.details
            +e.A(href="#").head-title= item.cardTitle
            +e.P.description= item.cardDescription
